<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Editar Producto</h1>
        <form method="POST">
            <div class="form-group">
                <label for="nombre_producto">Nombre del Producto</label>
                <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" value="{{ producto[1] }}">
            </div>
            <div class="form-group">
                <label for="descripcion_producto">Descripción del Producto</label>
                <textarea class="form-control" id="descripcion_producto" name="descripcion_producto" rows="3" required>{{ producto[2] }}</textarea>
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="text" class="form-control" id="stock" name="stock" value="{{ stock[1] }}">
            </div>
            <div class="form-group">
                <label for="categoria_producto">Categoría del Producto</label>
                <select class="form-control" id="categoria_producto" name="categoria_producto">
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}" {% if categoria[0] == producto[4] %}selected{% endif %}>{{ categoria[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="marca_producto">Marca del Producto</label>
                <select class="form-control" id="marca_producto" name="marca_producto">
                    {% for marca in marcas %}
                        <option value="{{ marca[0] }}" {% if marca[0] == producto[3] %}selected{% endif %}>{{ marca[2] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="/gestionar_productos" class="btn btn-primary">Regresar a Productos</a>
        </form>
    </div>
</body>
</html>
