<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Productos Disponibles</h1>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div id="carousel{{ producto[0] }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for index, imagen in imagenes[producto[0]] %}
                            <div class="carousel-item {% if index == 0 %}active{% endif %}">
                                <img src="{{ imagen[1] }}" class="d-block w-100" alt="...">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel{{ producto[0] }}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel{{ producto[0] }}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ producto[1] }}</h5>
                        <p class="card-text">{{ producto[2] }}</p>
                        <p class="card-text">Stock: {{ stocks[producto[0]] }}</p>                        
                        <p class="card-text">Categoría: 
                            {% for categoria in categorias[producto[0]] %}
                                {{ categoria }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        <p class="card-text">Marca: {{ marcas[producto[0]] }}</p> 
                        
                        <a href="/productos/{{ producto[0] }}/editar" class="btn btn-primary">Editar</a>
                        <a href="/productos/{{ producto[0] }}/eliminar" class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('delete-form').submit();">Eliminar</a>
                        <form id="delete-form" action="/productos/{{ productos[0] }}/eliminar" method="POST" style="display: none;">
                            <input type="hidden" name="_method" value="DELETE">
                            <!-- Puedes incluir más campos ocultos aquí si es necesario -->
                        </form> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
                <!-- Botón para agregar un nuevo descuento -->
                <a href="/productos/agregar" class="btn btn-primary">Agregar Producto</a>

                <!-- Botón para regresar a la página de inicio -->
                <a href="/" class="btn btn-secondary">Regresar a Inicio</a>
    </div>
</body>
</html>