<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes y Estadísticas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Reportes y Estadísticas</h1>
        <h2>Reporte de Ventas</h2>
        <div id="container" style="width:100%; height:400px;"></div>
        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#ventasTable" aria-expanded="false" aria-controls="ventasTable">
            Ver Tabla de Productos
        </button>
        <div class="collapse" id="ventasTable">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Ventas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta[0] }}</td>
                        <td>{{ venta[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><p>
        <h2>Reporte de Estados</h2>
        <div id="container-pie" style="width:100%; height:400px;"></div>
        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#estadosTable" aria-expanded="false" aria-controls="estadosTable">
            Ver Tabla de Estados
        </button>
        <div class="collapse" id="estadosTable">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Estados</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estado in estados %}
                    <tr>
                        <td>{{ estado[0] }}</td>
                        <td>{{ estado[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5">
        <a href="/" class="btn btn-secondary">Regresar a Inicio</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dataSeries = {{ data_ventas | safe }};
            const dataEstados = {{ data_estados | safe }};
            
            // Gráfico de columnas
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Los 5 Productos Más Vendidos'
                },
                xAxis: {
                    type: 'category',
                    title: {
                        text: 'Productos'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Cantidad Vendida'
                    }
                },
                series: [{
                    name: 'Ventas',
                    data: dataSeries
                }],
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                tooltip: {
                    pointFormat: '<b>{point.y} ventas</b>'
                }
            });
    
            // Gráfico de pastel
            Highcharts.chart('container-pie', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Estado de Pedidos'
                },
                tooltip: {
                    valueSuffix: '%'
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            distance: 20,
                            format: '{point.percentage:.1f}%'
                        }
                    }
                },
                series: [{
                    name: 'Cantidad',
                    colorByPoint: true,
                    data: dataEstados
                }]
            });
        });
    </script>        
</body>
</html>