<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Información de la cuenta</h1>
        <p><strong>Nombre:</strong> {{ empleado[0] }}</p>
        <p><strong>Apellido:</strong> {{ empleado[1] }}</p>
        <p><strong>Teléfono:</strong> {{ empleado[2] }}</p>
        <p><strong>Fecha de ingreso:</strong> {{ empleado[3] }}</p>
        <p><strong>Correo electrónico:</strong> {{ empleado[4] }}</p>
        <!-- Agregar botón para regresar a la pantalla de administrar usuarios -->
        <a href="{{ url_for('inicio') }}" class="btn btn-primary">Regresar a inicio</a>
    </div>
</body>
</html>
